@page "{id}/{name}"
@model CourseModel

<hr />

<div class="text-center">
    <h1>Nauczę Cię 9 metod, jak korzystać z serwisu GitHub by wybrać projekt na którym nie stracisz.</h1>
</div>

@*<hr />

<div class="row justify-content-center">

    <div class="col-8">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CxLDxsw2KC4" allowfullscreen></iframe>
        </div>
    </div>

</div>*@

<hr />

<div class="card text-center">
    <div class="card-header">
        Oferta ograniczona czasowo
    </div>
    <div class="card-body">
        <h5 class="card-title">GitHub dla inwestorów</h5>
        <p class="card-text">Dowiedz się jak weryfikować pracę zespołu projektu kryptowalutowego.</p>
        <a href="/kontakt/10" class="btn btn-success">Powiadom mnie o otwarciu</a>
    </div>
    <div class="card-footer text-muted">
        Wkrótce otwarcie
    </div>
</div>

<hr />

<div class="text-center">
    <h3>Twój instruktor</h3>
</div>

<hr />

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://via.placeholder.com/277x200" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">"Życie zaczyna się od liczby i kończy się liczbą. Miłość nie ma z tym nic wspólnego. Liczą się tylko liczby."</p>
            <p class="card-text"><small class="text-muted">Zasłyszane</small></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tomasz Kowalczyk</h5>
            <p class="card-text">
                👨🏻‍💻
                software
                🎱
                dataplayer
                🕵🏻
                osint
                🔑
                security
                ⚡
                crypto
            </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">🚀 10+ lat doświadczenia w IT</li>
            <li class="list-group-item">🚀 3+ lata doświadczenia w kryptowalutach (HODL)</li>
            <li class="list-group-item">🚀 60+ przeanalizowanych projektów</li>
            <li class="list-group-item">🚀 doświadczony programista</li>
            <li class="list-group-item">🚀 certyfikowany kierownik projektu (PRINCE2)</li>
            <li class="list-group-item">🚀 początkujący YouTuber</li>
            <li class="list-group-item">🚀 robiący postępy inwestor</li>
        </ul>
        <div class="card-body">
            <a href="https://github.com/tkowalczyk" class="card-link" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/kowalczykt/" class="card-link" target="_blank">LinkedIn</a>
            <a href="https://twitter.com/tomkowalczyk" class="card-link" target="_blank">Twitter</a>
        </div>
    </div>
</div>

<hr />

<div class="text-center">
    <h2>Co otrzymują studenci?</h2>
</div>

<hr />

<div class="card-deck">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Moduł 1 - Wprowadzenie</h5>
            <p class="card-text">
                <ol>
                    <li>Czym jest GitHub?</li>
                    <li>Widok organizacji a widok użytkownika</li>
                    <li>Podstawowe pojęcia</li>
                </ol>
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Moduł 2 - Metody analizy</h5>
            <p class="card-text">
                <ol>
                    <li>Analiza projektu, który jest forkiem <i>(funkcja Compare)</i></li>
                    <li>Analiza postępów w kolejnych wydaniach <i>(Release, Commit)</i></li>
                    <li>Analiza postępów w gałęziach <i>(Branch)</i></li>
                    <li>Analiza popularności <i>(funkcja Used By)</i></li>
                    <li>Analiza potencjalnych kopii projektu <i>(zakładka Insights / Forks)</i></li>
                    <li>Analiza poważnych błędów <i>(funkcja Label, Bug)</i></li>
                    <li>Analiza postępów w Roadmap <i>(funkcja Milestone, Project)</i></li>
                    <li>Analiza problemów w projekcie <i>(funkcja Need help)<</i></li>
                    <li>Weryfikacja wiadomości <i>(funkcja wyszukiwania na GitHub)</i></li>
                </ol>
            </p>
        </div>
    </div>
</div>

<div class="card text-center mt-2">
    <div class="card-header">
        DODATKOWO
    </div>
    <div class="card-body">
        <p class="card-text">
            <ul>
                <li><strong>Bonus 1</strong> - Interpretacja danych z CoinPaprika (Code Progress) i CryptoMiso</li>
                <li><strong>Bonus 2</strong> - Weryfikacja projektów opartych o token ERC-20</li>
            </ul>
        </p>
    </div>
</div>

<hr />

<div class="text-center">
    <h2>Czy jest inna droga?</h2>
</div>

<hr />

<div class="card text-center mt-2">
    <div class="card-header">
        OCZYWIŚCIE
    </div>
    <div class="card-body">
        <p class="card-text">
            Możesz testować różne sposoby i metody na sobie i słuchać analiz, które poruszają temat bardzo pobieżnie.
            Możesz też wybrać mnie jako swojego nauczyciela. 100% rzeczy, których uczę, używam na codzień.
        </p>
    </div>
</div>

<hr />

<div class="text-center">
    <h2>Jaka jest cena programu?</h2>
</div>

<hr />

<div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Standard</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">127 zł</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li><strong>12</strong> filmów z materiałami</li>
                <li><strong>2</strong> filmy bonusowe</li>
                <li>dostęp na żądanie <strong>24/7</strong></li>
                <li>grupa na Telegram</li>
                <li>TYLKO TERAZ nie ograniczony dostęp <i>(później już tylko na rok)</i></li>
                <li>TYLKO TERAZ aktualizacje materiału</li>
            </ul>
            <a href="/kontakt/1" type="button" class="btn btn-lg btn-block btn-primary">Rezerwuje miejsce</a>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Premium</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">197 zł</h1>
            <ul class="list-unstyled mt-3 mb-4">
                <li><strong>12</strong> filmów z materiałami</li>
                <li><strong>2</strong> filmy bonusowe</li>
                <li>dostęp na żądanie <strong>24/7</strong></li>
                <li>grupa na Telegram</li>
                <li><strong>1</strong> konsultacja z autorem <i>(jak długo potrzeba)</i></li>
                <li>TYLKO TERAZ nie ograniczony dostęp <i>(później już tylko na rok)</i></li>
                <li>TYLKO TERAZ aktualizacje materiału</li>
            </ul>
            <a href="/kontakt/2" type="button" class="btn btn-lg btn-block btn-primary">Rezerwuje miejsce</a>
        </div>
    </div>
</div>

<hr />

<div class="text-center">
    <h2>Często zadawane pytania:</h2>
    <strong>
        Kiedy rozpoczyna się kurs?
    </strong>
    <p>
        Kurs rozpoczyna się wtedy, gdy wykupisz do niego dostęp.
    </p>
    <strong>
        Jak długo mam dostęp do tego kursu?
    </strong>
    <p>
        Otrzymujesz dożywotni (a raczej tak długo, jak serwis CryptoDev.TV będzie istnieć) dostęp do tego kursu. Kurs będzie aktualizowany, a Ty będziesz mieć ciągle dostęp do nowych wersji.
    </p>
    <strong>
        Czego potrzebuję, aby wynieść z kursu jak najwięcej?
    </strong>
    <p>
        Potrzebujesz podążać za moimi krokami. Wybierz lekcję, która najbardziej CI pasuje i przerób na wybranym projekcie.
    </p>
    <strong>
        Czy dostanę cały kurs od razu?
    </strong>
    <p>
        TAK
    </p>
    <strong>
        Co jeżeli mam z czymś problem lub coś jest niejasne?
    </strong>
    <p>
        Napisz na adres email: tomek@kownet.info
    </p>
</div>

<hr />

<div class="card text-center">
    <div class="card-header">
        ZACZYNAMY?
    </div>
    <div class="card-body">
        <h5 class="card-title">GitHub dla inwestorów</h5>
        <p class="card-text">Dowiedz się jak weryfikować pracę zespołu projektu kryptowalutowego.</p>
        <a href="/kontakt/10" class="btn btn-success">Powiadom mnie o otwarciu</a>
    </div>
    <div class="card-footer text-muted">
        Wkrótce otwarcie
    </div>
</div>

<hr />