@page
@model IndexModel

<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/cd_header.png" alt="">
    </div>

    <div class="col-lg-5">
        <h1 class="font-weight-light">CryptoDev.TV</h1>
        <p class="text-justify">Rzeczowe analizy z postępu prac projektowych dla kryptowalut, wyjaśnienia skomplikowanych zagadnień zarówno z zakresu technologii blockchain jak i kryptowalut.</p>
        <a class="btn btn-primary btn-outline-success" href="https://www.youtube.com/c/CryptoDev" target="_blank">Kanał na YouTube</a>
    </div>

</div>

<div class="card text-white bg-dark my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">Skorzystaj z <strong>darmowych materiałów</strong> dostępnych na <a href="https://www.youtube.com/c/CryptoDev" target="_blank">YouTube</a>. Zainwestuj w wiedzę by później <strong>nie stracić</strong> wybierając projekt.</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-lg-6">
        <h2>GitHub dla inwestorów</h2>
        <p>Dowiedz się jak weryfikować pracę zespołu projektu kryptowalutowego.</p>
        <ol>
            <li>
                <strong>Moduł 1 - Wprowadzenie</strong>
                <ol>
                    <li>Czym jest GitHub?</li>
                    <li>Widok organizacji a widok użytkownika</li>
                    <li>Podstawowe pojęcia</li>
                </ol>
            </li>
            <li>
                <strong>Moduł 2 - Metody analizy</strong>
                <ol>
                    <li>Analiza projektu, który jest forkiem <i>(funkcja Compare)</i></li>
                    <li>Analiza postępów w kolejnych wydaniach <i>(Release, Commit)</i></li>
                    <li>Analiza postępów w gałęziach <i>(Branch)</i></li>
                    <li>Analiza popularności <i>(funkcja Used By)</i></li>
                    <li>Analiza potencjalnych kopii projektu <i>(zakładka Insights / Forks)</i></li>
                    <li>Analiza poważnych błędów <i>(funkcja Label, Bug)</i></li>
                    <li>Analiza postępów w Roadmap <i>(funkcja Milestone, Project)</i></li>
                    <li>Analiza problemów w projekcie <i>(funkcja Need help)</i></li>
                    <li>Weryfikacja wiadomości <i>(funkcja wyszukiwania na GitHub)</i></li>
                    <li>Weryfikacja członków zespołu <i>(programistów)</i> <span class="badge badge-success">nowość</span></li>
                </ol>
            </li>
            <li><strong>Bonus 1</strong> - Interpretacja danych z CoinPaprika (Code Progress) i CryptoMiso</li>
            <li><strong>Bonus 2</strong> - Weryfikacja projektów opartych o token ERC-20</li>
        </ol>

        <p class="text-center">
            <a class="btn btn-primary btn-outline-success btn-lg" href="/kurs/1/github-dla-inwestorow/">Chcę wiedzieć więcej</a>
        </p>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="~/img/cd_gdi.png" alt="">
    </div>
</div>

<hr />

<section class="py-3">
    <div class="container">
        <h1>Darmowe materiały na YouTube</h1>
        <p class="lead">Zdobędziesz wiedzę, którą będziesz umiał wykorzystać w świecie projektów kryptowalutowych.</p>
    </div>
</section>

<div class="row">

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_afk.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Analiza fundamentalna</h4>
                <p class="card-text text-justify small">Seria filmów kierowana do osób początkujących chcących dowiedzieć się jak samemu zrobić research danego projektu.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNZKktO42luRt39Jyh40nOQ" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_apk.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Analiza projektowa / technologiczna</h4>
                <p class="card-text text-justify small">Opis narzędzi umożliwiających analizę prac projektowych oraz weryfikujących adopcje projektu.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNZKktO42luRt39Jyh40nOQ" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_defi.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Decentralized Finance</h4>
                <p class="card-text text-justify small">Trend DeFi staje się coraz bardziej popularny. Z czego się wywodzi, jak działa i do czego prowadzi. Odpowiedzi w tych filmach.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNaic_hd1KDUNBSIAi9KR2E" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_sc.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Ranking Smart Contract</h4>
                <p class="card-text text-justify small">Ranking platform do tworzenia Smart Contract i zdecentralizowanych aplikacji - dApps.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNaGL2uUneQW1K0-w-qJ9xE" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_wiz.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Wizualizacja prac</h4>
                <p class="card-text text-justify small">Prace programistów zoobrazowane w ciekawy sposób, urozmaicone podkładem muzycznym.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNdL3oKz4HeTg3reiK1UPL8" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_analizy.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Analizy projektów</h4>
                <p class="card-text text-justify small">Przeanalizowałem kilkadziesiąt projeków. Wnioski na temat każdego w dedykowanym filmie.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTOZLiBwlaMOEVU1wVAERHZU" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_bezp.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Bezpieczeństwo</h4>
                <p class="card-text text-justify small">Porady dotyczące bezpiecznego korzystania z Internetu, zastosuj od razu, tu i teraz.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTOOJnrRPQ5jt2t6RbD3nFap" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_adopcja.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Krypto Adopcja</h4>
                <p class="card-text text-justify small">Omawiam aspekty, które według mojej opini wpływają na popularyzacje kryptowalut.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTPzLNuCPe_0SzTL2LURicby" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

</div>

<section class="py-3">
    <div class="container">
        <h1>Wzmianki w Internecie</h1>
        <p class="lead">Linki do opini w Internecie na temat kanału CryptoDev.</p>
    </div>
</section>

<div class="row">

    <div class="col-md-4 mb-5">
        <blockquote class="twitter-tweet">
            <p lang="pl" dir="ltr">
                W natłoku crypto naganiaczy i fantastów na YT można znaleźć też bardzo wartościowe, rzetelne i przystępnie podające info kanały, np. <a href="https://twitter.com/hashtag/CryptoDev?src=hash&amp;ref_src=twsrc%5Etfw">#CryptoDev</a> <a href="https://t.co/XRciGUxupN">https://t.co/XRciGUxupN</a>
            </p>&mdash; Kurencja (@@Kurencja) <a href="https://twitter.com/Kurencja/status/1208398506538536962?ref_src=twsrc%5Etfw">December 21, 2019</a>
        </blockquote>
    </div>

    <div class="col-md-4 mb-5">
        <blockquote class="twitter-tweet">
            <p lang="pl" dir="ltr">
                Młode wilki 💪 polskiego crypto youtuba. Te kanały warto obserwować w 2020 roku ‼️<a href="https://twitter.com/hashtag/MikeSatoshi?src=hash&amp;ref_src=twsrc%5Etfw">#MikeSatoshi</a> <a href="https://twitter.com/hashtag/CryptoDev?src=hash&amp;ref_src=twsrc%5Etfw">#CryptoDev</a> <a href="https://twitter.com/hashtag/Xgrosz?src=hash&amp;ref_src=twsrc%5Etfw">#Xgrosz</a> <a href="https://twitter.com/hashtag/BitcoinFeniks?src=hash&amp;ref_src=twsrc%5Etfw">#BitcoinFeniks</a> <a href="https://twitter.com/hashtag/PortfelKowalskiego?src=hash&amp;ref_src=twsrc%5Etfw">#PortfelKowalskiego</a> <a href="https://twitter.com/hashtag/m%C5%82odeWilki?src=hash&amp;ref_src=twsrc%5Etfw">#młodeWilki</a> <a href="https://twitter.com/hashtag/CryptoYouTube?src=hash&amp;ref_src=twsrc%5Etfw">#CryptoYouTube</a> <a href="https://twitter.com/hashtag/kryptowaluty?src=hash&amp;ref_src=twsrc%5Etfw">#kryptowaluty</a> <a href="https://twitter.com/hashtag/PolishPower?src=hash&amp;ref_src=twsrc%5Etfw">#PolishPower</a><a href="https://t.co/XEiF1PDpx1">https://t.co/XEiF1PDpx1</a>
            </p>&mdash; Cryptomaniak.pl (@@CryptomaniakP) <a href="https://twitter.com/CryptomaniakP/status/1210902462346989569?ref_src=twsrc%5Etfw">December 28, 2019</a>
        </blockquote>
    </div>

    <div class="col-md-4 mb-5">
        <blockquote class="twitter-tweet">
            <p lang="en" dir="ltr">
                Pretty in-depth review of <a href="https://twitter.com/search?q=%24AION&amp;src=ctag&amp;ref_src=twsrc%5Etfw">$AION</a> Network done by <a href="https://twitter.com/hashtag/CryptoDev?src=hash&amp;ref_src=twsrc%5Etfw">#CryptoDev</a> team. <br><br>Technical look on <a href="https://twitter.com/Aion_Network?ref_src=twsrc%5Etfw">@@Aion_Network</a> GitHub and other technical websites of Aion <a href="https://twitter.com/hashtag/blockchain?src=hash&amp;ref_src=twsrc%5Etfw">#blockchain</a> - trying to analyze how advanced this project is as far far real adoption is concerned. <br><br>Good work <a href="https://twitter.com/tomkowalczyk?ref_src=twsrc%5Etfw">@@tomkowalczyk</a> 👍<a href="https://twitter.com/hashtag/RunAVM?src=hash&amp;ref_src=twsrc%5Etfw">#RunAVM</a> <a href="https://t.co/VJ13WBmzYK">https://t.co/VJ13WBmzYK</a>
            </p>&mdash; Andrzej_0xa0 (@@Andrzej_0xa0) <a href="https://twitter.com/Andrzej_0xa0/status/1167858213523316736?ref_src=twsrc%5Etfw">August 31, 2019</a>
        </blockquote>
    </div>

</div>

<div class="row">

    <div class="col-md-4 mb-5">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">When you are bored with your child at home. Teach him how to make smart contracts on <a href="https://twitter.com/hashtag/Ethereum?src=hash&amp;ref_src=twsrc%5Etfw">#Ethereum</a> blockchain in the Zombie game!!! <a href="https://t.co/g2ZDktZL7B">https://t.co/g2ZDktZL7B</a> Huge thanks to <a href="https://twitter.com/tomkowalczyk?ref_src=twsrc%5Etfw">@@tomkowalczyk</a> 🙏🙏🙏 Instructions how to do it: <a href="https://t.co/TmWbbivxAx">https://t.co/TmWbbivxAx</a></p>&mdash; Paul Brainy (@@Paul__Brainy) <a href="https://twitter.com/Paul__Brainy/status/1240622005612920832?ref_src=twsrc%5Etfw">March 19, 2020</a></blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    <div class="col-md-4 mb-5">
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fmike.satoshi.92%2Fposts%2F618827905619805&width=500" width="370" height="376" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

    <div class="col-md-4 mb-5">
        <blockquote class="twitter-tweet"><p lang="pl" dir="ltr">Już za godzinę, o 18:00 startujemy drugi Krypto Online Meetup.<br><br>Tym razem <a href="https://twitter.com/tomkowalczyk?ref_src=twsrc%5Etfw">@@tomkowalczyk</a> wprowadzi nas w dobre praktyki bezpieczeństwa. W kontekście kryptowalut i nie tylko.<a href="https://t.co/SlQppDInSI">https://t.co/SlQppDInSI</a></p>&mdash; Piotr Misiurek (@@PiotrMisiurek) <a href="https://twitter.com/PiotrMisiurek/status/1245367188531187717?ref_src=twsrc%5Etfw">April 1, 2020</a></blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>

<section class="py-3">
    <div class="container">
        <h1>Wystąpienia online i na żywo!</h1>
        <p class="lead">Miałem możliwość i przyjemność wypowiedzieć się gościnnie. Chętnie zabiorę głos na Twoim wydarzeniu.</p>
    </div>
</section>

<div class="row">

    <div class="col-md-4 mb-5">

        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_tk_6.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Webinar</h4>
                <p class="card-text text-justify small">Wspólnie z Piotr Misiurek i Jakub Zarembiński dyskutowaliśmy nad rozwojem platform do Smart Contract.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/watch?v=NglMwxXS2l0" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>

    </div>

    <div class="col-md-4 mb-5">

        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_kryptostok_14.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Prelekcja</h4>
                <p class="card-text text-justify small">Gościnnie na spotkaniu sympatyków blockchain w Białymstoku. Opowiadałem o istotności Governance w kontekście projektów kryptowalutowych.</p>
            </div>
            <div class="card-footer">
                <a href="https://youtu.be/GvD2W63AH7Q" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>

    </div>

    <div class="col-md-4 mb-5">

        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_tk_10.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Webinar</h4>
                <p class="card-text text-justify small">Wspólnie z Piotr Misiurek i Tomasz Waszczyk dyskutowaliśmy o projektach Tron, Tezos i Cardano.</p>
            </div>
            <div class="card-footer">
                <a href="https://youtu.be/yq0cACoXrQI" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-4 mb-5">

        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_tk_11.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Webinar</h4>
                <p class="card-text text-justify small">Gościnnie u Piotr Misiurek przedstawiłem parę gotowych od razu do użycia dobrych praktyk z zakresu bezpieczeństwa.</p>
            </div>
            <div class="card-footer">
                <a href="https://youtu.be/aC-XSNkUWUY" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>

    </div>

</div>

<section class="py-3">
    <div class="container">
        <h1>Artykuły mojego autorstwa</h1>
        <p class="lead">Czasami również umieszczę w Internecie coś do przeczytania.</p>
    </div>
</section>

<div class="row">

    <div class="col-md-12 mb-5">

        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="https://bitcoinpl.org/ranking-platform-smart-contract-2019/" target="_blank">Ranking platform Smart Contract 2019</a>
                <span class="badge badge-secondary float-right">bitcoinpl.org</span>
            </li>
            <li class="list-group-item">
                <a href="https://bitcoinpl.org/kryptowaluty-podsumowanie-2019/" target="_blank">Kryptowaluty – podsumowanie 2019</a>
                <span class="badge badge-secondary float-right">bitcoinpl.org</span>
            </li>
            <li class="list-group-item">
                <a href="https://bitcoinpl.org/jak-analizowac-kryptowaluty/" target="_blank">Jak analizować kryptowaluty?</a>
                <span class="badge badge-secondary float-right">bitcoinpl.org</span>
            </li>
            <li class="list-group-item">
                <a href="https://bitcoinpl.org/co-to-jest-analiza-projektowa-kryptowaluty/" target="_blank">Co to jest analiza projektowa kryptowaluty?</a>
                <span class="badge badge-secondary float-right">bitcoinpl.org</span>
            </li>
        </ul>

    </div>

</div>