@page
@model IndexModel

<div class="row align-items-center my-5">
    <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="~/img/cd_header.png" alt="">
    </div>

    <div class="col-lg-5">
        <h1 class="font-weight-light">CryptoDev.TV</h1>
        <p class="text-justify">Rzeczowe analizy z postępu prac projektowych dla kryptowalut, wyjaśnienia skomplikowanych zagadnień zarówno z zakresu technologii blockchain jak i kryptowalut.</p>
        <a class="btn btn-primary btn-outline-success" href="https://www.youtube.com/c/CryptoDev" target="_blank">Kanał na YouTube</a>
    </div>

</div>

<div class="card text-white bg-dark my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">Skorzystaj z <strong>darmowych materiałów</strong> dostępnych na <a href="https://www.youtube.com/c/CryptoDev" target="_blank">YouTube</a>. Zainwestuj w wiedzę by później <strong>nie stracić</strong> wybierając projekt.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2>GitHub dla inwestorów</h2>
        <p>Dowiedz się jak weryfikować pracę zespołu projektu kryptowalutowego.</p>
        <ol>
            <li>
                <strong>Moduł 1 - Wprowadzenie</strong>
                <ol>
                    <li>Czym jest GitHub?</li>
                    <li>Widok organizacji a widok użytkownika</li>
                    <li>Podstawowe pojęcia</li>
                </ol>
            </li>
            <li>
                <strong>Moduł 2 - Metody analizy</strong>
                <ol>
                    <li>Analiza projektu, który jest forkiem <i>(funkcja Compare)</i></li>
                    <li>Analiza postępów w kolejnych wydaniach <i>(Release, Commit)</i></li>
                    <li>Analiza postępów w gałęziach <i>(Branch)</i></li>
                    <li>Analiza popularności <i>(funkcja Used By)</i></li>
                    <li>Analiza potencjalnych kopii projektu <i>(zakładka Insights / Forks)</i></li>
                    <li>Analiza poważnych błędów <i>(funkcja Label, Bug)</i></li>
                    <li>Analiza postępów w Roadmap <i>(funkcja Milestone, Project)</i></li>
                    <li>Analiza problemów w projekcie <i>(funkcja Need help)<</i></li>
                    <li>Weryfikacja wiadomości <i>(funkcja wyszukiwania na GitHub)</i></li>
                </ol>
            </li>
            <li><strong>Bonus 1</strong> - Interpretacja danych z CoinPaprika (Code Progress) i CryptoMiso</li>
            <li><strong>Bonus 2</strong> - Weryfikacja projektów opartych o token ERC-20</li>
        </ol>

        <p><a class="btn btn-primary btn-outline-success" href="/kurs/1/github-dla-inwestorow/">Biorę udział</a></p>
    </div>
    <div class="col-lg-6">
        <img class="img-fluid rounded" src="~/img/cd_gdi.png" alt="">
    </div>
</div>

<hr />

<section class="py-5">
    <div class="container">
        <h1>Darmowe materiały na YouTube</h1>
        <p class="lead">Zdobędziesz wiedzę, którą będziesz umiał wykorzystać w świecie projektów kryptowalutowych.</p>
    </div>
</section>

<div class="row">

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_afk.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Analiza fundamentalna</h2>
                <p class="card-text text-justify">Seria filmów kierowana do osób początkujących chcących dowiedzieć się jak samemu zrobić research danego projektu.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNZKktO42luRt39Jyh40nOQ" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_apk.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Analiza projektowa / technologiczna</h2>
                <p class="card-text text-justify">Opis narzędzi umożliwiających analizę prac projektowych oraz weryfikujących adopcje projektu.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNZKktO42luRt39Jyh40nOQ" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/cd_defi.png" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">Decentralized Finance</h2>
                <p class="card-text text-justify">Trend DeFi staje się coraz bardziej popularny. Z czego się wywodzi, jak działa i do czego prowadzi. Odpowiedzi w tych filmach.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.youtube.com/playlist?list=PLUQAuzbjHTTNaic_hd1KDUNBSIAi9KR2E" class="btn btn-primary btn-sm btn-outline-success" target="_blank">Wyświetl</a>
            </div>
        </div>
    </div>

</div>