@page
@model NewsletterModel

<div class="row">
    <p>
        Jeśli poniżej nie widzisz formularza, kliknij <a href="https://landing.mailerlite.com/webforms/landing/k2v8k4">tutaj</a>.
    </p>
</div>

<div class="ml-form-embed"
     data-account="1434874:b8s5j4x9l9"
     data-form="1689908:k2v8k4">
</div>