@page
@model PartnershipModel

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-6">Oferta reklamowa na kanale YouTube - CryptoDev</h1>
    <p class="lead">Oferuje ekspozycje na kanale, moi widzowie to Twoi przyśli klienci.</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pre roll</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">40zł <small class="text-muted">/ film</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>wyświetlony przed filmem</li>
                    <li>max 10<small>sek</small></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>

                </ul>
                <a href="/kontakt/20" type="button" class="btn btn-md btn-block btn-success">to dla mnie</a>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Post roll</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">30zł <small class="text-muted">/ film</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>wyświetlony po filmie</li>
                    <li>max 10<small>sek</small></li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>

                </ul>
                <a href="/kontakt/21" type="button" class="btn btn-md btn-block btn-success">pasuje mi</a>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pre picture</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">25zł <small class="text-muted">/ film</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>statyczny obraz</li>
                    <li>wyświetlony przed filmem</li>
                    <li>rozdzielczość FullHD - 1920x1080</li>
                </ul>
                <a href="/kontakt/22" type="button" class="btn btn-md btn-block btn-primary">chętnie spróbuje</a>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Post picture</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">20zł <small class="text-muted">/ film</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>statyczny obraz</li>
                    <li>wyświetlony po filmie</li>
                    <li>rozdzielczość FullHD - 1920x1080</li>
                </ul>
                <a href="/kontakt/23" type="button" class="btn btn-md btn-block btn-primary">poznajmy się</a>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Animowany tekst</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">110zł <small class="text-muted">/ film</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>wyświetlany w dolnej części ekranu podczas filmu</li>
                    <li>max 30<small>słów</small></li>
                </ul>
                <a href="/kontakt/24" type="button" class="btn btn-md btn-block btn-success">tego szukałem</a>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Element graficzny</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">70zł <small class="text-muted">/ film</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>wyświetlany w wybranym rogu ekranu podczas filmu</li>
                    <li>&nbsp;</li>
                </ul>
                <a href="/kontakt/25" type="button" class="btn btn-md btn-block btn-primary">wchodzę w to</a>
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Inne..</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">do uzgodnienia <small class="text-muted">:)</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>daj znać czego potrzebujesz</li>
                    <li>&nbsp;</li>
                </ul>
                <a href="/kontakt/26" type="button" class="btn btn-md btn-block btn-primary">już piszę</a>
            </div>
        </div>
    </div>
</div>