@page
@model ReportModel

<div class="container">
    <h3>Przygotowane raporty</h3>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Data</th>
                <th scope="col">Pobierz</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Analiza rynku gier opartych o blockchain</td>
                <td>02.04.2020</td>
                <td>
                    <script async="async" id="button_13817adb-ce67-415e-8c7c-72fdfc977c49" src="//www.paywithatweet.com/embeds/13817adb-ce67-415e-8c7c-72fdfc977c49" charset="utf-8"></script>
                </td>
            </tr>
        </tbody>
    </table>
</div>