<h1>Polityka prywatności</h1>

<hr />

<h2>Skrócona wersja – najważniejsze informacje</h2>

<p class="text-justify">
    Dbamy o Twoją prywatność, ale również o Twój czas. Dlatego przygotowaliśmy dla Ciebie skróconą wersję najważniejszych zasad związanych z ochroną prywatności.
</p>
<ul>
    <li>
        Zakładając konto użytkownika za pośrednictwem strony, składając zamówienie, zapisując się do newslettera, składając reklamację, odstępując od umowy czy po prostu kontaktując się z nami, przekazujesz nam swoje dane osobowe, a my gwarantujemy Ci, że Twoje dane pozostaną poufne, bezpieczne i nie zostaną udostępnione jakimkolwiek podmiotom trzecim bez Twojej wyraźnej zgody.
    </li>
    <li>
        Powierzamy przetwarzanie danych osobowych tylko sprawdzonym i zaufanym podmiotom świadczącym usługi związane z przetwarzaniem danych osobowych.
    </li>
    @*<li>
            Korzystamy z narzędzi analitycznych Google Analytics, które zbierają informacje na temat Twoich odwiedzin strony, takie jak podstrony, które wyświetliłeś, czas, jaki spędziłeś na stronie czy przejścia pomiędzy poszczególnymi podstronami. W tym celu wykorzystywane są pliki cookies firmy Google LLC dotyczące usługi Google Analytics. W ramach mechanizmu do zarządzania ustawieniami plików cookies masz możliwość zadecydowania, czy w ramach usługi Google Analytics będziemy mogli korzystać również z funkcji marketingowych, czy nie.
        </li>
        <li>
            Korzystamy z narzędzi marketingowych, takich jak Facebook Pixel, by kierować do Ciebie reklamy. Wiążę się to z wykorzystywaniem plików cookies firmy Facebook. W ramach ustawień plików cookies możesz zadecydować, czy wyrażasz zgodę na korzystanie przez nas w Twoim przypadku z Pixela Facebooka, czy nie.
        </li>
        <li>
            Zapewniamy możliwość korzystania z funkcji społecznościowych, takich jak udostępnianie treści w serwisach społecznościowych oraz subskrypcja profilu społecznościowego. Korzystanie z tych funkcji wiąże się z wykorzystywaniem plików cookies administratorów serwisów społecznościowych takich jak Facebook, Instagram, YouTube, Twitter, Google+, LinkedIN.
        </li>*@
</ul>

<p class="text-justify">
    Jeżeli powyższe informacje nie są dla Ciebie wystarczające, poniżej znajdziesz dalej idące szczegóły.
</p>

<hr />

<h2>Dane osobowe</h2>

<p class="text-justify">
    Administratorem Twoich danych osobowych w rozumieniu przepisów o ochronie danych osobowych jest Tomasz Kowalczyk ul. Lipińska 77D/1, 05-200 Wołomin.
</p>

<p class="text-justify">
    Cele, podstawy prawne oraz okres przetwarzania danych osobowych wskazane są odrębnie w stosunku do każdego celu przetwarzania danych (patrz: opis poszczególnych celów przetwarzania danych osobowych poniżej).
</p>

<p class="text-justify">
    Uprawnienia. RODO przyznaje Ci następujące potencjalne uprawnienia związane z przetwarzaniem Twoich danych osobowych:
    <br />
    <ul>
        <li>prawo dostępu do danych osobowych,</li>
        <li>prawo do sprostowania danych osobowych,</li>
        <li>prawo do usunięcia danych osobowych,</li>
        <li>prawo do ograniczenia przetwarzania danych osobowych,</li>
        <li>prawo do wniesienia sprzeciwu co do przetwarzania danych osobowych,</li>
        <li>prawo do przenoszenia danych,</li>
        <li>prawo do wniesienia skargi do organu nadzorczego,</li>
        <li>prawo do odwołania zgody na przetwarzanie danych osobowych, jeżeli takową zgodę wyraziłeś.</li>
    </ul>
</p>

<p class="text-justify">
    Zasady związane z realizacją wskazanych uprawnień zostały opisane szczegółowo w art. 16 – 21 RODO. Zachęcamy do zapoznania się z tymi przepisami. Ze swojej strony uważamy za potrzebne wyjaśnić Ci, że wskazane powyżej uprawnienia nie są bezwzględne i nie będą przysługiwać Ci w stosunku do wszystkich czynności przetwarzania Twoich danych osobowych. Dla Twojej wygody dołożyliśmy starań, by w ramach opisu poszczególnych operacji przetwarzania danych osobowych wskazać na przysługujące Ci w ramach tych operacji uprawnienia.
</p>

<p class="text-justify">
    Podkreślamy, że jedno z uprawnień wskazanych powyżej przysługuje Ci zawsze – jeżeli uznasz, że przy przetwarzaniu Twoich danych osobowych dopuściliśmy się naruszenia przepisów o ochronie danych osobowych, masz możliwość wniesienia skargi do organu nadzorczego (Prezesa Urzędu Ochrony Danych Osobowych).
</p>

<p class="text-justify">
    Zawsze możesz również zwrócić się do nas z żądaniem udostępnienia Ci informacji o tym, jakie dane na Twój temat posiadamy oraz w jakich celach je przetwarzamy. Wystarczy, że wyślesz wiadomość na adres mirek@szkolacrypto.pl. Dołożyliśmy jednak wszelkich starań, by interesujące Cię informacje zostały wyczerpująco przedstawione w niniejszej polityce prywatności. Podany powyżej adres e-mail możesz wykorzystać również w razie jakichkolwiek pytań związanych z przetwarzaniem Twoich danych osobowych.
</p>

<p class="text-justify">
    <strong>Bezpieczeństwo.</strong> Gwarantujemy Ci poufność wszelkich przekazanych nam danych osobowych. Zapewniamy podjęcie wszelkich środków bezpieczeństwa i ochrony danych osobowych wymaganych przez przepisy o ochronie danych osobowych. Dane osobowe są gromadzone z należytą starannością i odpowiednio chronione przed dostępem do nich przez osoby do tego nieupoważnione.
</p>

<p class="text-justify">
    Wykaz powierzeń. Powierzamy przetwarzanie danych osobowych następującym podmiotom:
    <br />
    <ul>
        <li>
            AlphaNet sp. z o.o z siedzibą w Sosnowcu, adres: ul. Małobądzka 4a, 41-214 Sosnowiec, NIP: PL 6443186165  – w celu przechowywania danych osobowych na serwerze,
        </li>
        <li>
            UAB MailerLite, J. Basanavičiaus 15, LT-03108 Vilnius, Lithuania – w celu korzystania z systemu mailingowego, w którym przetwarzane są Twoje dane, jeżeli zapisałeś się do newslettera,
        </li>
    </ul>
</p>
<p class="text-justify">
    Wszystkie podmioty, którym powierzamy przetwarzanie danych osobowych gwarantują stosowanie odpowiednich środków ochrony i bezpieczeństwa danych osobowych wymaganych przez przepisy prawa.
</p>

<hr />

<h2>Cele i czynności przetwarzania</h2>

<p class="text-justify">
    <strong>Konto użytkownika.</strong> Zakładając konto użytkownika, musisz podać swój adres e-mail@*oraz zdefiniować hasło do konta*@. Podanie danych jest dobrowolne, ale niezbędne do założenia konta.
    @*W ramach edycji profilu użytkownika możesz podać dalej idące dane na swój temat, tj. imię i nazwisko, adres rozliczeniowy oraz adres do wysyłki. Podanie tych danych jest całkowicie dobrowolne. Możesz posiadać konto, nie podając tych dalej idących danych. W takiej sytuacji, składając zamówienie będziesz musiał te dane wprowadzić ręcznie.*@
</p>

<p class="text-justify">
    Dane wprowadzone przez Ciebie w ramach konta użytkownika przetwarzane są wyłącznie w celu utrzymywania konta i zapewnienia Ci możliwości korzystania z niego. Podanie danych w koncie użytkownika ma za zadanie ułatwić Ci składanie zamówień w sklepie poprzez automatyczne podstawianie danych do formularza zamówienia.
</p>

<p class="text-justify">
    Podstawą prawną przetwarzania Twoich danych osobowych w ramach konta użytkownika jest realizacja umowy o prowadzenie konta, którą zawierasz na podstawie niniejszego regulaminu – art. 6 ust. 1 lit. b RODO.
</p>

<p class="text-justify">
    Dane zgromadzone w koncie użytkownika przetwarzane są w ramach dedykowanego systemu i przechowywane na serwerze zapewnianym przez AlphaNet sp. z o.o.
</p>

<p class="text-justify">
    Twoje dane będą przetwarzane w ramach konta tak długo, jak długo będziesz posiadać konto użytkownika. Po usunięciu konta, twoje dane zostaną usunięte z bazy, za wyjątkiem danych o złożonych zamówieniach.
</p>

<p class="text-justify">
    W każdej chwili możesz uzyskać dostęp do swoich danych osobowych przetwarzanych w ramach konta, logując się do swojego konta użytkownika.
    @*Po zalogowaniu się do konta możesz w każdej chwili zmodyfikować swoje dane, jak również je usunąć, za wyjątkiem danych o złożonych zamówieniach.*@ W każdej chwili możesz podjąć również decyzję o usunięciu konta.
</p>

<p class="text-justify">
    W stosunku do danych zgromadzonych w koncie użytkownika przysługuje Ci również prawo do przenoszenia danych, o którym mowa w art. 20 RODO.
</p>

<p class="text-justify">
    <strong>Zamówienia.</strong> Składając zamówienie, musisz podać dane niezbędne do realizacji zamówienia, tj. imię i nazwisko, adres rozliczeniowy, adres e-mail. Podanie danych jest dobrowolne, ale niezbędne do złożenia zamówienia.
</p>

<p class="text-justify">
    Dane przekazane nam w związku z zamówieniem, przetwarzane są w celu realizacji zamówienia (art. 6 ust. 1 lit. b RODO), wystawienia faktury (art. 6 ust. 1 lit. c RODO), uwzględnienia faktury w naszej dokumentacji księgowej (art. 6 ust. 1 lit. c RODO) oraz w celach archiwalnych i statystycznych (art. 6 ust. 1 lit. f RODO).
</p>

<p class="text-justify">
    Dane zawarte w zamówieniu złożonym za pośrednictwem sklepu przetwarzane są w ramach dedykowanego systemu i przechowywane na serwerze zapewnianym przez AlphaNet sp. z o.o.
</p>

<p class="text-justify">
    Jeżeli posiadasz konto użytkownika, to Twoje zamówienie będzie widoczne w ramach historii zamówień danego konta.
</p>

<p class="text-justify">
    Każde zamówienie dokumentowane jest fakturą. @*Faktury wystawiane są z wykorzystaniem systemu IFIRMA SA Faktura przekazywane są do biura rachunkowego”Tax Point” Grzegorz Ostrowski.*@
</p>

<p class="text-justify">
    Zamówienia są również rejestrowane w naszej wewnętrznej bazie w celach archiwalnych i statystycznych.
</p>

<p class="text-justify">
    Dane o zamówieniach będą przetwarzane przez czas niezbędny do realizacji zamówienia, a następnie do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy. Ponadto, po upływie tego terminu, dane nadal mogą być przez nas przetwarzane w celach statystycznych. Pamiętaj również, że mamy obowiązek przechowywać faktury z Twoimi danymi osobowymi przez okres 5 lat od końca roku podatkowego, w którym powstał obowiązek podatkowy.
</p>

<p class="text-justify">
    W przypadku danych o zamówieniach nie masz możliwości sprostowania tych danych po realizacji zamówienia. Nie możesz również sprzeciwić się przetwarzaniu danych oraz domagać się usunięcia danych do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy. Podobnie, nie możesz sprzeciwić się przetwarzaniu danych oraz domagać się usunięcia danych zawartych w fakturach. Po upływie terminu przedawnienia roszczeń z tytułu zawartej umowy możesz jednać sprzeciwić się przetwarzaniu przez nas Twoich danych w celach statystycznych, jak również domagać się usunięcia Twoich danych z naszej bazy.
</p>

<p class="text-justify">
    W stosunku do danych o zamówieniach przysługuje Ci również prawo do przenoszenia danych, o którym mowa w art. 20 RODO.
</p>

<p class="text-justify">
    <strong>Newsletter.</strong> Jeżeli chcesz zapisać się do newslettera, musisz przekazać nam swój adres e-mail za pośrednictwem formularza zapisu do newslettera.
</p>

<p class="text-justify">
    Dane przekazane nam podczas zapisu do newslettera wykorzystywane są w celu przesyłania Ci newslettera, a podstawą prawną ich przetwarzania jest Twoja zgoda (art. 6 ust. 1 lit. a RODO) wyrażona podczas zapisywania się do newslettera.
</p>

<p class="text-justify">
    Dane przetwarzane są w ramach systemu mailingowego MailerLite i przechowywane na serwerze zapewnianym przez MailerLite UAB.
</p>

<p class="text-justify">
    Dane będą przetwarzane przez czas funkcjonowania newslettera, chyba że wcześniej zrezygnujesz z jego otrzymywania, co spowoduje usunięcie Twoich danych z bazy.
</p>

<p class="text-justify">
    W każdej chwili możesz sprostować swoje dane zapisane w bazie newsletterowej, jak również zażądać ich usunięcia, rezygnując z otrzymywania newslettera. Przysługuje Ci również prawo do przenoszenia danych, o którym mowa w art. 20 RODO.
</p>

<p class="text-justify">
    Reklamacje i odstąpienie od umowy. Jeżeli składasz reklamację lub odstępujesz od umowy, to przekazujesz nam dane osobowe zawarte w treści reklamacji lub oświadczeniu o odstąpieniu od umowy, które obejmuję imię i nazwisko, adres zamieszkania, numer telefonu, adres e-mail, numer rachunku bankowego.
</p>

<p class="text-justify">
    Dane przekazane nam w związku ze złożeniem reklamacji lub odstąpieniem od umowy wykorzystywane są w celu realizacji procedury reklamacyjnej lub procedury odstąpienia od umowy (art. 6 ust. 1 lit. c RODO).
</p>

<p class="text-justify">
    Dane będą przetwarzane przez czas niezbędny do realizacji procedury reklamacyjnej lub procedury odstąpienia. Reklamacje oraz oświadczenia o odstąpieniu od umowy mogą być ponadto archiwizowane w celach statystycznych.
</p>

<p class="text-justify">
    W przypadku danych zawartych w reklamacjach oraz oświadczeniach o odstąpieniu od umowy nie masz możliwości sprostowania tych danych. Nie możesz również sprzeciwić się przetwarzaniu danych oraz domagać się usunięcia danych do czasu upływu terminu przedawnienia roszczeń z tytułu zawartej umowy. Po upływie terminu przedawnienia roszczeń z tytułu zawartej umowy możesz jednak sprzeciwić się przetwarzaniu przez nas Twoich danych w celach statystycznych, jak również domagać się usunięcia Twoich danych z naszej bazy.
</p>

<p class="text-justify">
    <strong>Kontakt e-mailowy.</strong> Kontaktując się z nami za pośrednictwem poczty elektronicznej, w tym również przesyłając zapytanie poprzez formularz kontaktowy, w sposób naturalny przekazujesz nam swój adres e-mail jako adres nadawcy wiadomości. Ponadto, w treści wiadomości możesz zawrzeć również inne dane osobowe.
</p>

<p class="text-justify">
    Twoje dane są w tym przypadku przetwarzane w celu kontaktu z Tobą, a podstawą przetwarzania jest art. 6 ust. 1 lit. a RODO, czyli Twoja zgoda wynikające z zainicjowania z nami kontaktu. Podstawą prawną przetwarzania po zakończeniu kontaktu jest usprawiedliwiony cel w postaci archiwizacji korespondencji na potrzeby wewnętrzne (art. 6 ust. 1 lit. c RODO).
</p>

<p class="text-justify">
    Treść korespondencji może podlegać archiwizacji i nie jesteśmy w stanie jednoznacznie określić, kiedy zostanie usunięta. Masz prawo do domagania się przedstawienia historii korespondencji, jaką z nami prowadziłeś (jeżeli podlegała archiwizacji), jak również domagać się jej usunięcia, chyba że jej archiwizacja jest uzasadniona z uwagi na nasze nadrzędne interesy, np. obrona przed potencjalnymi roszczeniami z Twojej strony.
</p>

<hr />

<h2>Pliki cookies i inne technologie śledzące</h2>

<p class="text-justify">
    Nasza strona, podobnie jak niemal wszystkie inne strony internetowe, wykorzystuje pliki cookies, by zapewnić Ci najlepsze doświadczenia związane z korzystaniem z niej.
</p>

<p class="text-justify">
    Cookies to niewielkie informacje tekstowe, przechowywane na Twoim urządzeniu końcowym (np. komputerze, tablecie, smartfonie), które mogą być odczytywane przez nasz system teleinformatyczny.
</p>

<p class="text-justify">
    Więcej szczegółów znajdziesz poniżej.
</p>

<p class="text-justify">
    <strong>Zgoda na cookies.</strong> Podczas pierwszej wizyty na stronie wyświetlana jest Ci informacja na temat stosowania plików cookies wraz z pytaniem o zgodę na wykorzystywanie plików cookies. Dzięki specjalnemu narzędziu masz możliwość zarządzania plikami cookies z poziomu strony. Ponadto, zawsze możesz zmienić ustawienia cookies z poziomu swojej przeglądarki albo w ogóle usunąć pliki cookies. Pamiętaj jednak, że wyłączenie plików cookies może powodować trudności w korzystaniu ze strony, jak również z wielu innych stron internetowych, które stosują cookies.
</p>

<p class="text-justify">
    <strong>Cookies podmiotów trzecich.</strong> Nasza strona, podobnie jak większość współczesnych stron internetowych, wykorzystuje funkcje zapewniane przez podmioty trzecie, co wiąże się z wykorzystywaniem plików cookies pochodzących od podmiotów trzecich. Wykorzystanie tego rodzaju plików cookies zostało opisane poniżej.
</p>

@*<p class="text-justify">
        <strong>Analiza i statystyka.</strong> Wykorzystujemy cookies do śledzenia statystyk strony, takich jak liczba osób odwiedzających, rodzaj systemu operacyjnego i przeglądarki internetowej wykorzystywanej do przeglądania strony, czas spędzony na stronie, odwiedzone podstrony etc. Korzystamy w tym zakresie z Google Analytics, co wiąże się z wykorzystaniem plików cookies firmy Google LLC. W ramach mechanizmu do zarządzania ustawieniami plików cookies masz możliwość zadecydowania, czy w ramach usługi Google Analytics będziemy mogli korzystać również z funkcji marketingowych, czy nie.
    </p>

    <p class="text-justify">
        <strong>Marketing.</strong> Korzystamy z narzędzi marketingowych, takich jak Facebook Pixel, by kierować do Ciebie reklamy. Wiążę się to z wykorzystywaniem plików cookies firmy Facebook. W ramach ustawień plików cookies możesz zadecydować, czy wyrażasz zgodę na korzystanie przez nas w Twoim przypadku z Pixela Facebooka, czy nie.
    </p>

    <p class="text-justify">
        <strong>Narzędzia społecznościowe.</strong> Zapewniamy możliwość korzystania z funkcji społecznościowych, takich jak udostępnianie treści w serwisach społecznościowych oraz subskrypcja profilu społecznościowego. Korzystanie z tych funkcji wiąże się z wykorzystywaniem plików cookies administratorów serwisów społecznościowych takich jak Facebook, Instagram, YouTube, Twitter, Google+, LinkedIN.
    </p>*@

<p class="text-justify">
    Osadzamy na stronie nagrania wideo z serwisu YouTube. Gdy odtwarzasz takie nagrania, wykorzystywane są pliki cookies firmy Google LLC dotyczące usługi YouTube.
</p>

<hr />

<h2>Logi serwera</h2>

<p class="text-justify">
    Korzystanie ze strony wiąże się z przesyłaniem zapytań do serwera, na którym przechowywana jest strona. Każde zapytanie skierowane do serwera zapisywane jest w logach serwera.
</p>

<p class="text-justify">
    Logi obejmują m.in. Twój adres IP, datę i czas serwera, informacje o przeglądarce internetowej i systemie operacyjnym z jakiego korzystasz. Logi zapisywane i przechowywane są na serwerze.
</p>

<p class="text-justify">
    Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi ze strony i nie są wykorzystywane przez nas w celu Twojej identyfikacji.
</p>

<p class="text-justify">
    Logi serwera stanowią wyłącznie materiał pomocniczy służący do administrowania stroną, a ich zawartość nie jest ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.
</p>