<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CryptoDevTV - Techniczne konkrety o kryptowalutach</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CryptoDevTV</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/kontakt/0">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/wspolpraca">Współpraca</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/newsletter">💰 Newsletter 💰</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - <a href="https://kownet.info">kownet.info</a> - tworzenie oprogramowania. Zapoznaj się z naszą <a href="/polityka-prywatnosci">polityką prywatności</a>.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- MailerLite Universal -->
    <script>
        (function (m, a, i, l, e, r) {
        m['MailerLiteObject'] = e; function f() {
            var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
        }
            f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
            var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
            _.parentNode.insertBefore(r, _);
        })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

        var ml_account = ml('accounts', '1434874', 'b8s5j4x9l9', 'load');
    </script>
    <!-- End MailerLite Universal -->

    @RenderSection("Scripts", required: false)
</body>
</html>